h1
{
color:blue;
}
.c1
{
color:yellow;
}
.ca
{
color:red;
}
.c1
{
color:violet;
}
#para1
{
color:yellow;
}
h2
{
color:black;
}
#para3
{
color:blue;
}
*
{
font-family:verdana;
font-size:30px;
}
h1,ol,h2
{
text-align:center;
color:pink;
}
